<button
  type="button"
  class="btn btn-default no-text mobile-gif-insert"
  aria-label={{theme-i18n "gif.composer_title"}}
  {{on "click" this.showGifModal}}
>
  {{d-icon "discourse-gifs-gif"}}
</button>