html.discourse-gifs-with-img div[data-theme-discourse-gifs="container"] video {
  display: none;
}

html:not(.discourse-gifs-with-img)
  div[data-theme-discourse-gifs="container"]
  img {
  display: none;
}

#reply-control {
  .submit-panel .mobile-gif-insert {
    margin-right: 0.25rem;
  }
  &.show-preview .submit-panel .mobile-gif-insert {
    display: none;
  }
}

.gif-modal {
  .gif-input {
    background: var(--primary-very-low);
    padding: 0.5em;
    position: relative;
    > input {
      width: 100%;
      margin-right: 1em;
      margin-bottom: 0;
    }
    .spinner {
      position: absolute;
      right: 1.2em;
      top: 0.9em;
    }
  }

  .gif-content {
    height: calc(100% - 50px);
    overflow-y: auto;
    min-width: 320px;
    max-height: 350px;
  }
  .gif-box {
    .gif-result-list {
      padding-top: 1em;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      // TODO: Use this once support is more widespread
      // grid-template-rows: masonry;
      grid-gap: 0.6em;
      grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
      grid-auto-rows: 25px;
      .gif-imgwrap {
        grid-row-end: span 3;
        overflow: hidden;
        background: var(--primary-very-low);
        img {
          max-width: 100%;
        }
      }
      .tall-one {
        grid-row-end: span 6;
      }
      .tall-two {
        grid-row-end: span 4;
      }
    }
    div[data-theme-discourse-gifs="container"],
    div[data-theme-discourse-gifs="webp-container"] {
      display: inline-block;
    }
    div.loading-container {
      display: block;
      height: 10px;
    }
  }

  .gif-no-results {
    width: 100%;
    height: 210px;
    box-sizing: border-box;
    padding: 2em;
    background: var(--primary-very-low);
    font-size: var(--font-up-1);
    color: var(--primary-medium);
    font-weight: bold;
    display: flex;
    align-items: center;
    text-align: center;
  }

  .modal-footer {
    display: flex;
    flex-flow: row-reverse;
    img {
      height: 30px;
    }
  }
}
