html.discourse-gifs-with-img div[data-theme-discourse-gifs="container"] video {
  display: none;
}

html:not(.discourse-gifs-with-img) div[data-theme-discourse-gifs="container"] img {
  display: none;
}

.gif-modal .gif-box div[data-theme-discourse-gifs="container"] {
  display: inline-block;
}
