html.discourse-gifs-with-img div[data-theme-discourse-gifs="container"] video {
  display: none;
}

html:not(.discourse-gifs-with-img)
  div[data-theme-discourse-gifs="container"]
  img {
  display: none;
}

#reply-control {
  .submit-panel .mobile-gif-insert {
    margin-right: 0.25rem;
  }
  &.show-preview .submit-panel .mobile-gif-insert {
    display: none;
  }
}

.gif-modal {
  .gif-box {
    > div {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: masonry;
      grid-gap: 10px;
      max-height: 350px;
    }
    div[data-theme-discourse-gifs="container"],
    div[data-theme-discourse-gifs="webp-container"] {
      display: inline-block;
    }
    div.loading-container {
      display: block;
      height: 10px;
    }
  }
  .modal-footer {
    display: flex;
    flex-flow: row-reverse;
    img {
      height: 42px;
    }
  }
}
