{{#d-modal-body id="gif-modal"}}
  <div>
    {{input
      type="text"
      name="query"
      autofocus="true"
      key-up=(action "refresh")
    }}
    {{#if loading}}
      {{i18n "loading"}}
    {{/if}}
  </div>
  <div class="gif-content">

    <div class="gif-box">
      {{gif-result-list content=currentGifs pick=(action "pick") loadMore=(action "loadMore")}}
    </div>
  </div>
{{/d-modal-body}}
<div class="modal-footer gif-modal">
  <img src="{{theme-setting "theme_uploads.giphy-logo"}}">
</div>
