{{#d-modal-body id="gif-modal"}}
  <div>
    {{input
      type="text"
      name="query"
      key-up=(action "refresh")
    }}
    {{#if loading}}
      {{i18n "loading"}}
    {{/if}}
  </div>
  <div class="gif-content">

    <div class="gif-box">
      {{#each currentGifs as |result|}}
        {{gif-result content=result pick=(action "pick")}}
      {{/each}}
    </div>
  </div>
{{/d-modal-body}}
<div class="modal-footer">
  <img src="https://www.gstatic.com/tenor/web/attribution/PB_tenor_logo_blue_horizontal.svg" height="14px">
</div>
