{{#d-modal-body id="gif-modal"}}
  <div>
    {{input
      type="text"
      name="query"
      key-up=(action "refresh")
    }}
    {{#if loading}}
      {{i18n "loading"}}
    {{/if}}
  </div>
  <div class="gif-content">

    <div class="gif-box">
      {{#load-more selector="div[data-theme-discourse-gifs='webp-container']" action=(action "loadMore")}}
        {{#each currentGifs as |result|}}
          {{gif-result content=result pick=(action "pick")}}
        {{/each}}
        {{#conditional-loading-spinner condition=loading }}
        {{/conditional-loading-spinner}}
      {{/load-more}}
    </div>
  </div>
{{/d-modal-body}}
<div class="modal-footer gif-modal">
  <img src="{{theme-setting "theme_uploads.giphy-logo"}}">
</div>
